* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.button, #parallax1 div .parallaxButton, .cardButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #2D3E40;
  outline: 2px solid #2D3E40;
  padding: 8px 16px;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
  font-family: "Montserrat";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: .6rem;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  .button, #parallax1 div .parallaxButton, .cardButton {
    padding: 15px 30px;
    font-size: .8rem;
  }
}

.button:hover, #parallax1 div .parallaxButton:hover, .cardButton:hover {
  color: #fff;
}

.button::before, #parallax1 div .parallaxButton::before, .cardButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: #2D3E40;
  -webkit-transform: scaleX(0) skewX(35deg);
          transform: scaleX(0) skewX(35deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button:hover::before, #parallax1 div .parallaxButton:hover::before, .cardButton:hover::before {
  -webkit-transform: scaleX(1) skewX(35deg);
          transform: scaleX(1) skewX(35deg);
}

.button:hover::before, #parallax1 div .parallaxButton:hover::before, .cardButton:hover::before {
  -webkit-transform: scaleX(1) skewX(35deg);
          transform: scaleX(1) skewX(35deg);
}

.navbar {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93bfb7), to(#69aaaa));
  background-image: linear-gradient(to top, #93bfb7, #69aaaa);
}

.navbar .navbar-brand {
  color: #000;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-left: 15px;
}

.navbar .navbar-brand:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 2rem;
  }
}

.navbar .nav-link {
  font-family: "Montserrat";
}

.navbar .nav-link:hover {
  color: #000;
}

@media (min-width: 992px) {
  .navbar .nav-link {
    font-size: 1.3rem;
  }
}

.offCanvasHeaderMod {
  height: 57px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#93bfb7), to(#69aaaa));
  background-image: linear-gradient(to top, #93bfb7, #69aaaa);
}

.footer {
  background-image: -webkit-gradient(linear, right top, left top, from(#477373), to(#93bfb7));
  background-image: linear-gradient(to left, #477373, #93bfb7);
}

.footerTitles {
  font-family: "Montserrat";
  color: #000;
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .footerTitles {
    font-size: 1.8rem;
  }
}

.footerData {
  font-family: "Montserrat";
  color: #000;
  padding: 5px 0px;
}

@media (min-width: 1200px) {
  .footerData {
    font-size: 1.1rem;
  }
}

.footerLinks {
  text-decoration: none;
  font-family: "Montserrat";
  color: #000;
  padding: 5px 0px;
}

@media (min-width: 1200px) {
  .footerLinks {
    font-size: 1.1rem;
  }
}

.footerLinks:hover {
  color: #000;
  text-shadow: 0 0 10px #b1e8de, 0 0 10px #b1e8de, 0 0 10px #b1e8de;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.socialIcon:hover {
  text-shadow: 0 0 10px #b1e8de, 0 0 10px #b1e8de, 0 0 10px #b1e8de;
  -webkit-transition: all .3s !important;
  transition: all .3s !important;
}

@media (min-width: 1200px) {
  .socialIcon {
    font-size: 1.8rem;
  }
}

.footerCredits {
  font-family: "Montserrat";
}

.border-topMod {
  width: 70%;
  padding-bottom: 20px;
  margin: auto;
  border-top: 1px solid #477373 !important;
}

.indexBody {
  background-image: url(../assets/images/body-bg.png);
}

.headerMod {
  background-image: url(../assets/images/header-bg1.jpg);
  background-size: cover;
  background-position: center center;
  height: 450px;
  border-bottom: 1px solid #c7c7c7;
}

@media (min-width: 1200px) {
  .headerMod {
    height: 700px;
  }
}

.headerMod .imgContent .headerImg {
  height: 225px;
  width: 225px;
}

@media (min-width: 576px) {
  .headerMod .imgContent .headerImg {
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  .headerMod .imgContent .headerImg {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 992px) {
  .headerMod .imgContent .headerImg {
    margin-left: 75px;
    height: 400px;
    width: 400px;
  }
}

@media (min-width: 1200px) {
  .headerMod .imgContent .headerImg {
    margin-left: 100px;
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 992px) {
  .headerMod {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .cardContent .cardImg {
    width: 400px;
    height: 400px;
  }
}

#parallax1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url(../assets/images/parallax1.jpg);
}

@media (min-width: 600px) {
  #parallax1 {
    height: 300px;
  }
}

@media (min-width: 768px) {
  #parallax1 {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  #parallax1 {
    height: 450px;
  }
}

#parallax1 div h3 {
  color: #5d5d5d;
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0);
}

#parallax1 div .parallaxButton {
  color: #e4f2e7;
  outline-color: #e4f2e7;
  font-size: 1rem;
}

#parallax1 div .parallaxButton:hover {
  color: #2D3E40;
}

#parallax1 div .parallaxButton::before {
  background-color: #e4f2e7;
}

#parallax2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url(../assets/images/index__resto-front.jpg);
}

@media (min-width: 600px) {
  #parallax2 {
    height: 300px;
  }
}

@media (min-width: 768px) {
  #parallax2 {
    height: 350px;
  }
}

@media (min-width: 1024px) {
  #parallax2 {
    height: 450px;
  }
}

#parallax2 div h3 {
  color: #5d5d5d;
  text-shadow: 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0), 0 0 10px #FFFFFF, 0px 0px 8px rgba(0, 0, 0, 0);
}

#parallax2 div .button, #parallax2 #parallax1 div .parallaxButton, #parallax1 #parallax2 div .parallaxButton, #parallax2 div .cardButton {
  color: #e4f2e7;
  outline-color: #e4f2e7;
  font-size: 1rem;
}

#parallax2 div .button:hover, #parallax2 #parallax1 div .parallaxButton:hover, #parallax1 #parallax2 div .parallaxButton:hover, #parallax2 div .cardButton:hover {
  color: #2D3E40;
}

#parallax2 div .button::before, #parallax2 #parallax1 div .parallaxButton::before, #parallax1 #parallax2 div .parallaxButton::before, #parallax2 div .cardButton::before {
  background-color: #e4f2e7;
}

.mainFont {
  font-family: "Montserrat";
}

.cardTitleMod {
  font-family: "Montserrat";
}

@media (min-width: 1200px) {
  .cardTitleMod {
    font-size: 2.2rem;
  }
}

.cardTextMod {
  color: #000;
  font-family: "Montserrat";
}

@media (min-width: 1200px) {
  .cardTextMod {
    font-size: 1.2rem;
  }
}

.cardButton {
  padding: 10px 20px;
}

.cardImgBox {
  text-align: center;
}

@media (min-width: 768px) {
  .cardContent .cardText .aboutUsTitleMod {
    font-size: .7rem;
  }
}

@media (min-width: 992px) {
  .cardContent .cardText .aboutUsTitleMod {
    font-size: 1.8rem;
  }
}

@media (min-width: 1400px) {
  .cardContent .cardText .aboutUsTitleMod {
    font-size: 2.2rem;
  }
}

@media (min-width: 768px) {
  .cardContent .cardText .aboutUsTextMod {
    font-size: .7rem;
  }
}

@media (min-width: 992px) {
  .cardContent .cardText .aboutUsTextMod {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .cardContent .cardText .aboutUsTextMod {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .cardContent .cardText .aboutUsBtnMod {
    font-size: .8rem;
  }
}

@media (min-width: 992px) {
  .cardContent .aboutUsImg {
    width: 600px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .cardContent .aboutUsImg {
    width: 800px;
    height: 300px;
  }
}

@media (min-width: 1400px) {
  .cardContent .aboutUsImg {
    width: 800px;
    height: 350px;
  }
}

.ubication {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -5px #000000;
          box-shadow: 0px 0px 10px -5px #000000;
  background-color: #93bfb7;
}

.ubication .ubication__title {
  font-family: "Montserrat";
}

@media (min-width: 1200px) {
  .ubication .ubication__title h2 {
    font-size: 2.2rem;
  }
}

.ubication .ubication__card .ubication__card-iframe {
  height: 300px;
}

@media (min-width: 768px) {
  .ubication .ubication__card .ubication__card-iframe {
    height: 334px;
  }
}

@media (min-width: 992px) {
  .ubication .ubication__card .ubication__card-iframe {
    height: 380px;
  }
}

@media (min-width: 1200px) {
  .ubication .ubication__card .ubication__card-iframe {
    height: 400px;
  }
}

.ubication .ubication__card .ubication__card-iframe .ubication__iframe {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .ubication .ubication__card .ubication__card-iframe .ubication__iframe {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .ubication .ubication__card .ubication__card-iframe .ubication__iframe {
    height: 100%;
  }
}

.ubication .ubication__card-data .ubication__info {
  font-family: "Montserrat";
}

.ubication .ubication__card-data .ubication__info p {
  line-height: 30px;
}

@media (min-width: 1400px) {
  .ubication .ubication__card-data .ubication__info p {
    font-size: 20px;
    line-height: 50px;
  }
}

.ubication .ubication__card-data .ubication__time {
  font-family: "Montserrat";
}

.ubication .ubication__card-data .ubication__time p {
  line-height: 30px;
}

@media (min-width: 1400px) {
  .ubication .ubication__card-data .ubication__time p {
    font-size: 20px;
    line-height: 50px;
  }
}

.bg-lightgrey {
  background-color: #ffffffcb;
}

.contactBody {
  background-image: url(../../assets/images/body-bg.png);
}

.form {
  max-width: 900px;
  border-radius: 10px;
  background-color: #93bfb7;
  -webkit-box-shadow: 0px 0px 15px -5px #000000;
          box-shadow: 0px 0px 15px -5px #000000;
}

@media (max-width: 767.9px) {
  .form {
    max-width: 350px;
  }
}

.form .form__title {
  text-align: center;
  font-family: "Montserrat";
}

@media (min-width: 768px) {
  .form div .formImgBox {
    padding-left: 50px;
  }
}

.btnMod {
  background-color: #2D3E40;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #e4f2e7;
  font-family: "Montserrat";
  padding: 10px 20px;
  margin: 10px 0;
}

.btnMod:hover {
  border: 1px solid #000;
  background-color: #93bfb7;
  -webkit-transition: .3s all;
  transition: .3s all;
}

#mensaje {
  resize: none;
}

@media (max-width: 480px) {
  .formImgBox .formImg {
    width: 380px;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .formImgBox .formImg {
    width: 380px;
    height: 380px;
  }
}
