.form {
    max-width: 900px;
    border-radius: 10px;
    background-color: $verdeClaro;
    box-shadow: 0px 0px 15px -5px #000000;
    @media (max-width:767.9px) {
        max-width: 350px;
    }
    .form__title {
        text-align: center;
        font-family: $mainFont;
    }
    div {
        .formImgBox {
            @media (min-width:768px) {
                padding-left: 50px;
            }
        }
    }      
}
.btnMod {
    background-color: $verdeOscuro;
    width: fit-content;
    color: $blanco;
    font-family: $mainFont;
    padding: 10px 20px;
    margin: 10px 0;
    &:hover {
        border: 1px solid #000;
        background-color: $verdeClaro;
        transition: .3s all;
    }
}
#mensaje {
    resize: none;
}
.formImgBox {
    .formImg {
        @media (max-width:480px) {
            width: 380px;
            height: 280px;
        }
        @media (min-width:768px) {
            width: 380px;
            height: 380px;
        }
    }
}

