.footer {
    background-image: linear-gradient(to right, #477373, #5d9898, #93bfb7);

    .footer__contact-p {
        @media (min-width: 768px) {
            font-size: 1.3rem;
        }
    }
    .footer__social-a {
        color: $verdeOscuro;
        font-size: 1.5rem;

        @media (min-width: 576px) {
            font-size: 2rem;
        }
        @media (min-width: 768px) {
            font-size: 2.4rem;
        }
        
    }
}

.footerLinks {
    text-decoration: none;
    font-family: $mainFont;
    color: #000;

    &:hover {
        color: #477373;
        transition: all .3s;
    }
}