$mainFont: 'Montserrat';
$brandFont: 'New Rocker';
$verdeOscuro: #2D3E40;
$verdeMedio: #387373;
$verdeClaro: #93bfb7;
$gris: #97a6a05c;
$blanco: #e4f2e7;

$fuenteBlack:(
    color:#000,
    font-family: $mainFont
)
